langchain
langchain-community
transformers==4.36.2
sentence-transformers
faiss-cpu
python-dotenv==1.0.0
numpy
pandas
scikit-learn
mlflow
pytest
fastapi[standard]
ollama
streamlit
ragas
openai
seaborn
google-cloud-storage
aiohttp